*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top ,rgba(0, 0, 0, 0.5)50%,rgba(0, 0, 0, 0.5)50%),url(wallpaperflare.com_wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;

}
.navbar{
    width:1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: rgb(64, 255, 0);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 23px;
    float: left;
    padding-top: 40px;

}

.menu{
    width: 800px;
    float: left;
    height: 70px;

}

ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    margin-left: auto;
    margin-top: 40px;
}

ul li a{
    float: left;
    margin-left: 40px;
    color: rgb(125, 137, 212);
    font-weight: bold;
    transition: 0.4s ease-in-out;

}

ul li a:hover{
    color: violet;
}

.register{
    color: rgb(4, 87, 160);
    padding-left: 900px;
    padding-right: 50px;
    padding-top: 140px;

}

.form{
    color: yellow;
}

